.details {
    color: var(--color--primary);
    width: 100%;
    height: 120px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.details_localisation {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.details_host {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profil {
    display: flex;
    align-items: center;
}

.profil_name {
    max-width: 70px;
}

.profil_picture img { 
    height: 64px;
    border-radius: 100px;;
}

.title {
    font-size: 36px;
}
.location {
    size: 18px;
}

.tags {
    display: flex;
    margin-top: 1.5rem;
}

.collapses {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.collapseDecription, .collapseEquipements{
    width: 800px;
}