.carousel {
    margin: var(--margin-primary);
    height: 415px;
    background: yellow;
    display: flex;
    align-items: center;

}
.icon_previous, .icon_next {
    width: 96px;
    height: 120px;
    opacity: 87%;
    display: flex;
    align-items: center;
}

.icon_previous {
    justify-content: center;
}

.icon_next {
    flex: 1 1 0;
    justify-content: flex-end
}