/* version mobile */
    /* caroussel */
.housing_container {
    margin: var(--margin-primary-small);  
}
  
  .carousel {
      position: relative;
      width: 100%;
      height: 26rem;
      border-radius: 1.5rem;
      overflow: hidden;
      background: var(--primary-500);
    }
  
    .carousel__pictures-box {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      transform: translateX(0%);
      transition: 300ms;
    }
    
    .carousel__picture {
      width: 100%;
      height: 100%;
      color: white;
      text-decoration: none;
      object-fit: cover;
    }
    
    .carousel__no-pic-message {
      margin: 0 2rem;
      width: 100%;
      color: white;
      font-size: var(--h3-size);
      text-align: center;
    }
    
    .carousel__nav, .carousel__counter {
      position: absolute;
      color: white;
    }
    
    .carousel__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      width: 100%;
      height: 100%;
    }
    
    .carousel i {
      
      font-size: 5rem;
      text-shadow: 0 0 2px rgb(0, 0, 0, 70%);
      cursor: pointer;
    }
    
    .carousel__counter {
      width: 100%;
      bottom: 1.5rem;
      font-size: var(--h5-size);
      text-align: center;
      text-shadow: 0 0 2px rgb(0, 0, 0, 70%);
    }

    /* details */
    .details {
        color: var(--color--primary);
        margin: 2rem 0 1rem;
        flex-direction: column;
    }
    
    .details_localisation {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        transition: all 1s;
    }
    
    .details_host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
    
    .profil {
        display: flex;
        align-items: center;
    }
    
    .profil_name {
        max-width: 70px;
        font-size: 12px;
    }
    
    .profil_picture img { 
        height: 32px;
        border-radius: 100px;;
    }
    
    .title {
        font-size: 36px;
    }
    .location {
        size: 18px;
    }
    
    .tags {
        display: flex;
        margin-top: 1.5rem;
    }
    
    .collapses {
        display: flex;
        flex-direction: column;  
        transition: all 1s;
    }
    
    .collapseDecription, .collapseEquipements{
        width: 100%;
    }

/* version desktop */
    /* caroussel */
    @media (min-width: 640px) {
        .housing_container {
            margin: var(--margin-primary);  
        }

    /* details */
    .details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .details_host {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 1rem;
    }

    .profil_name {
        max-width: 80px;
        font-size: 18px;
    }

    .profil_picture img { 
        height: 64px;
    }

    /* collapses */
    .collapses {
        justify-content: space-between;
        flex-direction:row;  
        flex-wrap:wrap;
    }

    .collapseDecription, .collapseEquipements{
        width: 800px;
    }
}