.dropdowns {
    display: block;
    margin: var(--margin-primary-small);
    transition: all 1s;
}

button {
    background-color: var(--color--primary);
    width: 100%;
    height: 3.5rem;
    border-radius: 10px;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

span{
    color: var(--color--light);
}

.collapse_default{
    display: flex;
    margin-bottom: 2.5rem;
    flex-direction: column;
}

.collapse_text {
    background: var(--color--grey);
    padding: 5px;
    color: var(--color--primary);
    border-radius: var(--radius-collapse);
    padding: 15px 10px ;
}


@media (min-width: 640px) {
    .dropdowns {
        margin-left: 12rem;
        margin-right: 12rem;
    
    }
}