.header {
    height: 68px;
    display: block;
    margin: var(--margin-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
} 

.img_logo_header {
    height: 100%;
    width: 210.32px;
    margin-left: -12px;
}

.img_logo_header img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar_header {
    max-width: 309px;
    height: 34px;
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

.navbar_header a {
    text-decoration: none;
    color: var(--color--primary);
}

.navbar_header a:hover {
    text-decoration: underline;
}