.code_erreur, .text {
    color: var(--color--primary);
    margin: auto;
}

.code_erreur {
    font-size:288px;
    font-weight: 700;
    width: 597px;
}

.text_erreur .text_return_page {
    font-weight: 500;
}

.text {
max-width: 872px;
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around

}
.text_erreur {
    font-size: 36px;
}

.text_return_page {
    font-size: 18px;
}

.text_return_page a {
    color: var(--color--primary);
}