*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
  --color--light: #fff;
  --color--primary: #FF6060;
  --color--grey: #F6F6F6;
  

  --font-family-primary: 'Montserrat', sans-serif;

  --radius-measure:25px;
  --radius-collapse:10px;
  --margin-primary: 2.5rem 6rem;
  --margin-primary-small: 2.5rem 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@100;300;400;500;800&display=swap');

body{
  margin: 0 ;
  padding: 0;
  font-family: var(--font-family-primary);
  font-size: 16px;
}

/* @media screen and (max-width: 81.75rem) {
  .content-wrapper {
    width: 51.5rem;
    padding: 0 2rem;
  }
}
*/
@media screen and (max-width: 640px) {
  .content-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}