*{
  -moz-box-sizing: border-box;
      box-sizing: border-box;
}
:root{
  --color--light: #fff;
  --color--primary: #FF6060;
  --color--grey: #F6F6F6;
  

  --font-family-primary: 'Montserrat', sans-serif;

  --radius-measure:25px;
  --margin-primary: 2.5rem 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@100;400&display=swap');

body{
  margin: 0 ;
  padding: 0;
  font-family: var(--font-family-primary);
}
