.section_main{
    background: url('../../assets/images/image_accueil.png') 100% ;  
    border-radius: var(--radius-measure);
    height: 13.5rem;
    margin: var(--margin-primary);    
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_text{
    font-size: 52px;
    color: var(--color--light);
}