.section_main_home_page, .section_main_about_page {
    position: relative;
    border-radius: var(--radius-measure);
    height: 13.5rem;
    overflow: hidden;
    margin: var(--margin-primary-small);
}

@media (min-width: 640px) {
    .section_main_home_page, .section_main_about_page {
        margin: var(--margin-primary);
    }
}

.section_main_home_page {
    background: url('../../assets/images/image_accueil.png') no-repeat center;
    background-size: cover;
}

.section_main_about_page {
    background: url('../../assets/images/image_apropo.png') no-repeat center;
    background-size: cover;
}

.image_darkness {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    font-size: 1.5rem;
    color: var(--color--light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media (min-width: 640px) {
    .image_darkness {
        font-size: 3rem;
    }
}