.section_main, .section_main_apropos {
    position: relative;
    background-size: cover; 
    border-radius: var(--radius-measure);
    height: 13.5rem;
    overflow: hidden;
    margin: var(--margin-primary);
}

.section_main{
    background: url('../../assets/images/image_accueil.png') no-repeat center; 
}

.image_darkness {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    font-size: 52px;
    color: var(--color--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_main_apropos{
    background: url('../../assets/images/image_apropo.png') no-repeat center;
}